.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;

}


.header-logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header-input {
    display: flex;
    align-items: center;
    width: 40%;

}

.header-inputbutton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;

}

.header-input>input {
    flex: 1;
    padding: 5px;
    height: 20px;
    border-radius: 20px;
    border-color: gray;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-right: 5px;
}

/* media for header */

@media screen and (max-width:750px) {

    .header {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */

        overflow: hidden;
    }

    .header-left {
        display: flex;
        align-items: center;
        margin-right: 40px;
        margin-left: -10px;
        width: 30%;


    }

    .header-logo {
        width: 50px;
        height: 19px;
        margin-right: 40px;
    }



    .header-input {
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
    }

    .header-input>input {
        padding: 2px 5px;
    }

    .header-inputbutton {
        width: 18px !important;
    }

    .header-icons {
        margin-left: 40px;
        /* display: none; */
    }

    .header-icon {
        /* font-size: 12px !important; */
        display: none !important;

    }

    .header-avatar {
        width: 25px !important;
        height: 25px !important;
        margin-left: 20px;
    }


}